*{
    margin: 0;
    padding: 0;
    font-family: 'Miltonian Tattoo', cursive;
}

a{
    text-decoration: none;

}

.btn-colour{
    color: white;
}
 button:hover{
    position:relative;
    border: 2px solid black;
    background-color: black;
  color: white;
}
.header{
    background-color: #FFF8F3;
    background-image: url('/images/header_bg.png'),url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    height: 750px;
    width: auto;
}

.banner {
    margin-left: 450px;
}
/* Style for nav bar */
.primary{
    color: #FD6E0A;
}

.navh{
    font-family: 'New Rocker', cursive;
    font-weight:800;
    font-size: 45px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 10px;
    
}

.nav-menu ul{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    align-items: center;
}
.nav-menu ul li{
    margin-left: 55px;
}

.btn-primary{
    color: white;
    border: 0;
    padding: 18px 34px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;
    border-radius: 5px;
}

.banner{
    /* margin: 0 200px; */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 0;
    display: flex;
    align-items: center;
}

.banner-title{
    font-weight: 600;
    font-size: 45px;
    font-family: 'New Rocker', cursive;
}
.banner-text{
    font-weight: 700;
    font-size: 85px;
    font-family: 'New Rocker', cursive;
    margin-top: 5px;
    margin-bottom: 20px;
} 

.banner-description{
    font-family: 'Miltonian Tattoo', cursive;
    color: #757575;
    margin-bottom: 25px;
}

/* About section */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 112px;
}
.about{
    padding: 131px 156px;
    border: 1px solid black;
    text-align: center;
    background-color: #FFF8F3;
}

.section-title{
    font-family: 'New Rocker', cursive;
    text-align: center;
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 70px;
}

.section-description{
    margin-top: 30px;
    font-weight: 400px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474774;
}

/* What I DO section */
.What-i-do{
    /* text-align: center; */
    margin-top: 144px
}

.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
   background: #FFFFFF;
   box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
   border-radius: 5px;
   padding: 30px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color: #757575;
}

/* Resume Section */
.resume{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-top: 130px;
    margin-bottom: 113px;
}

/* Resume-Style */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-bottom:  20px;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.resume-btn{
   text-align: center;
   margin-top: 50px;
   margin-bottom: 113px;
}

/* footer style */
.contract{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    gap: 117px;
}

.contract input,textarea{
    margin-bottom: 24px;
    gap: 24px;
    border: 0;
}

input[type="text"],input[type="email"],textarea{
    height: 50px;
    padding: 18px 30px;
    width: 100%;
}

.footer-title{
    font-family: 'New Rocker', cursive;
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 70px;
}

.footer-section{
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contract .footer-one a img{
    padding-right: 22px;
}
